<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Test - RESTapi</title>
  <link href='/css/bootstrap.min.css' rel='stylesheet' type='text/css' />
</head>
<body>
<div class="container">

  <h1>REST CRUD Project on Flask, Mongo and Elastic</h1>

  <a href="{{ url_for('showAll') }}" class="btn btn-lg btn-success">Show All</a>
  <a href="{{ url_for('insert') }}" class="btn btn-lg btn-primary">Insert</a>
  <a href="{{ url_for('update') }}" class="btn btn-lg btn-warning">Update</a>
  <a href="{{ url_for('delete') }}" class="btn btn-lg btn-danger">Delete</a>
  <a href="{{ url_for('searchfilter') }}" class="btn btn-lg btn-default">Search/Filter</a>

  <h3>Search and Filter</h3>

  {% if pageType == 'snf' or pageType == 'snfresult' %}

    <form class="form-horizontal" action="{{ url_for('searchfilter') }}" method="POST">
    <fieldset>

    <!-- Form Name -->
    <legend>Search</legend>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="year">Search All</label>
      <div class="controls">
        <input name="searchall" type="text" placeholder="Year" class="input-mini">
      </div>
    </div>

    <!-- Button -->
    <div class="control-group">
      <div class="controls">
        <button name="searchType" value="searchall" class="btn btn-lg btn-primary">Search All</button>
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="year">Year</label>
      <div class="controls">
        <input name="year" type="number" placeholder="Year" class="input-mini">
      </div>
    </div>

    <!-- Button -->
    <div class="control-group">
      <div class="controls">
        <button name="searchType" value="year" class="btn btn-lg btn-primary">Search By Year</button>
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="emptype">Employee Type</label>
      <div class="controls">
        <input name="emptype" type="text" placeholder="Employee Type" class="input-small">
      </div>
    </div>

    <!-- Button -->
    <div class="control-group">
      <div class="controls">
        <button name="searchType" value="emptype" class="btn btn-lg btn-primary">Search By Employee Type</button>
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="cadre">Cadre</label>
      <div class="controls">
        <input name="cadre" type="text" placeholder="Cadre" class="input-medium">
      </div>
    </div>

    <!-- Button -->
    <div class="control-group">
      <div class="controls">
        <button name="searchType" value="cadre" class="btn btn-lg btn-primary">Search By Cadre</button>
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
    <label class="control-label" for="noemp">No of Employees</label>
      <div class="controls">
        <input name="noemp" type="number" placeholder="No of Employees" class="input-large">
      </div>
    </div>

    <!-- Button -->
    <div class="control-group">
      <div class="controls">
        <button name="searchType" value="noemp" class="btn btn-lg btn-primary">Search By No of Employees</button>
      </div>
    </div>

    </fieldset>
    </form>

    {% if pageType == 'snfresult' %}

      <div class="panel panel-default">
        <div class="panel-heading"><h4><strong>Search Result</strong></h4></div>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Year</th>
              <th>Employee Type</th>
              <th>Cadre</th>
              <th>No of Employees</th>
            </tr>
          </thead>
          <tbody>
            {% for document in data.hits.hits  %}
              <tr>
                <td>{{ document._source['Year'] }}</td>
                <td>{{ document._source['Employee Type'] }}</td>
                <td>{{ document._source['Cadre'] }}</td>
                <td>{{ document._source['No of Employees'] }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    {% endif %}

  {% endif %}

</div>
</body>
</html>